[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ADaCGH2"]
	path = ADaCGH2
	url = https://github.com/rdiaz02/adacgh2
	subdir = ADaCGH2
[submodule "OncoSimulR"]
	path = OncoSimulR
	url = https://github.com/rdiaz02/oncosimul
	subdir = OncoSimulR
[submodule "PHYLOGR"]
	path = PHYLOGR
	url = https://github.com/rdiaz02/phylogr
[submodule "varSelRF"]
	path = varSelRF
	url = https://github.com/rdiaz02/varselrf
